<app-header></app-header>
<div class="alert alert-success" *ngIf="msg">
    {{ msg }}
</div>
<form [formGroup]="partenaireForm">
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Ajouter Un Partenaire</h1>
            </div>
        </div>
        <mat-horizontal-stepper>
            <div class="col-12 col-md-6 offset-md-3">
                <div class="container pt-5">
                    <mat-step label="Informations Entreprise">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><mat-icon>business</mat-icon></span>
                                    <input matInput placeholder="Entrer la Raison Sociale" required formControlName="raisonSociale">
                                    <mat-error *ngFor="let validation of account_validation_messages.raisonSociale">
                                        <mat-error class="error-message" *ngIf="partenaireForm.get('raisonSociale').hasError(validation.type) && (partenaireForm.get('raisonSociale').dirty || partenaireForm.get('raisonSociale').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><mat-icon>business</mat-icon></span>
                                    <input matInput placeholder="Entrer le NINEA" required formControlName="ninea">
                                    <mat-error *ngFor="let validation of account_validation_messages.ninea">
                                        <mat-error class="error-message" *ngIf="partenaireForm.get('ninea').hasError(validation.type) && (partenaireForm.get('ninea').dirty || partenaireForm.get('ninea').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><i class="fas fa-map-marker-alt"></i></span>
                                    <input matInput placeholder="Entrer l'adresse du Siege" required formControlName="adresseSociale">
                                    <mat-error *ngFor="let validation of account_validation_messages.adresse">
                                        <mat-error class="error-message" *ngIf="partenaireForm.get('adresseSociale').hasError(validation.type) && (partenaireForm.get('adresseSociale').dirty || partenaireForm.get('adresseSociale').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><mat-icon>phone</mat-icon></span>
                                    <input matInput type="number" min="300000000" max="789999999" placeholder="Entrer le Téléphone du Siège" required formControlName="telephoneSiege">
                                    <mat-error *ngFor="let validation of account_validation_messages.telephone">
                                        <mat-error class="error-message" *ngIf="partenaireForm.get('telephoneSiege').hasError(validation.type) && (partenaireForm.get('telephoneSiege').dirty || partenaireForm.get('telephoneSiege').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><i class="fas fa-at"></i></span>
                                    <input matInput type="email" placeholder="Entrer l'adresse mail" required formControlName="emailSiege">
                                    <mat-error *ngFor="let validation of account_validation_messages.email">
                                        <mat-error class="error-message" *ngIf="partenaireForm.get('emailSiege').hasError(validation.type) && (partenaireForm.get('emailSiege').dirty || partenaireForm.get('emailSiege').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><mat-icon>business</mat-icon></span>
                                    <textarea matInput placeholder="Description" required formControlName="description"></textarea>
                                    <mat-error *ngFor="let validation of account_validation_messages.description">
                                        <mat-error class="error-message" *ngIf="partenaireForm.get('description').hasError(validation.type) && (partenaireForm.get('description').dirty || partenaireForm.get('description').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="text-right">
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step label="Informations Personne de Référence">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><i class="far fa-address-card"></i></span>
                                    <input matInput placeholder="Nom Complet" required formControlName="nomCompletPersonneRef">
                                    <mat-error *ngFor="let validation of account_validation_messages.nom">
                                        <mat-error class="error-message" *ngIf="partenaireForm.get('nomCompletPersonneRef').hasError(validation.type) && (partenaireForm.get('nomCompletPersonneRef').dirty || partenaireForm.get('nomCompletPersonneRef').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><mat-icon>phone</mat-icon></span>
                                    <input matInput type="number" min="300000000" max="789999999" placeholder="Entrer le Téléphone" required formControlName="telephoneRef">
                                    <mat-error *ngFor="let validation of account_validation_messages.telephone">
                                        <mat-error class="error-message" *ngIf="partenaireForm.get('telephoneRef').hasError(validation.type) && (partenaireForm.get('telephoneRef').dirty || partenaireForm.get('telephoneRef').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><i class="far fa-address-card"></i></span>
                                    <input matInput type="number" min="1000000000000" max="2999999999999" placeholder="Entrer le CNI" required formControlName="cniPersonneRef">
                                    <mat-error *ngFor="let validation of account_validation_messages.cni">
                                        <mat-error class="error-message" *ngIf="partenaireForm.get('cniPersonneRef').hasError(validation.type) && (partenaireForm.get('cniPersonneRef').dirty || partenaireForm.get('cniPersonneRef').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><i class="fas fa-at"></i></span>
                                    <input matInput type="email" placeholder="Entrer l'adresse email" required formControlName="emailPersonneRef">
                                    <mat-error *ngFor="let validation of account_validation_messages.email">
                                        <mat-error class="error-message" *ngIf="partenaireForm.get('emailPersonneRef').hasError(validation.type) && (partenaireForm.get('emailPersonneRef').dirty || partenaireForm.get('emailPersonneRef').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><i class="fas fa-map-marker-alt"></i></span>
                                    <input matInput placeholder="Entrer l'adresse" required formControlName="adressePersonneRef">
                                    <mat-error *ngFor="let validation of account_validation_messages.adresse">
                                        <mat-error class="error-message" *ngIf="partenaireForm.get('adressePersonneRef').hasError(validation.type) && (partenaireForm.get('adressePersonneRef').dirty || partenaireForm.get('adressePersonneRef').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="text-right">
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step label="Photo et Validation">
                        <div class="col-12 col-md-6 offset-md-3">
                            <label for="imageFile">Inserer une photo</label>
                            <img [src]="imageUrl" style="widows: 250px;height:200px">
                            <input type="file" formControlName="imageFile" #imageFile accept="image/*" (change)="handleFileInput($event.target.files)">
                            <mat-error *ngFor="let validation of account_validation_messages.imageFile">
                                <mat-error class="error-message" *ngIf="partenaireForm.get('imageFile').hasError(validation.type) && (partenaireForm.get('imageFile').dirty || partenaireForm.get('imageFile').touched)">{{validation.message}}</mat-error>
                            </mat-error>
                        </div>
                        <div class="text-center">
                            <button (click)="setPartenaire()" type="submit" class="btn btn-success" [disabled]="!partenaireForm.valid">Ajouter Partenaire</button>
                        </div>
                    </mat-step>
                </div>
            </div>
        </mat-horizontal-stepper>
    </div>
</form>