<app-header></app-header>
<div class="alert alert-success" *ngIf="msg">
    {{ msg }}
</div>
<div class="container">
    <div class="row">
        <div class="col-12 pt-5 text-center">
            <h1>Réinitialiser Mot De Passe</h1>
        </div>
        <div class="col-12 col-md-6 offset-md-3">
            <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
                <div class="col-12">
                    <mat-form-field hideRequiredMarker class="col-12">
                        <span matPrefix><i class="fas fa-key"></i></span>
                        <input matInput formControlName="plainPassword" placeholder="Entrer le Mot de passe" type="password">
                        <mat-error *ngFor="let validation of account_validation_messages.plainPassword">
                            <mat-error class="error-message" *ngIf="passwordForm.get('plainPassword').hasError(validation.type) && (passwordForm.get('plainPassword').dirty || passwordForm.get('plainPassword').touched)">{{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field hideRequiredMarker class="col-12">
                        <span matPrefix><i class="fas fa-key"></i></span>
                        <input matInput formControlName="plainPasswordConfirm" placeholder="Confirmer le Mot de passe" type="password">
                        <mat-error *ngFor="let validation of account_validation_messages.plainPasswordConfirm">
                            <mat-error class="error-message" *ngIf="(passwordForm.get('plainPasswordConfirm').hasError(validation.type)|| passwordForm.hasError(validation.type)) && (passwordForm.get('plainPasswordConfirm').dirty || passwordForm.get('plainPasswordConfirm').touched)">{{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 text-right">
                    <button type="submit" class="btn btn-success" [disabled]="!passwordForm.valid">Modifier</button>
                </div>
            </form>
        </div>
    </div>
</div>