<app-header></app-header>
<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <form [formGroup]="compteForm" (ngSubmit)="rechercheCompte(compteForm.value)">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Numero de Compte" formControlName="compte" required>
                    <mat-error *ngFor="let validation of account_validation_messages.compte">
                        <mat-error class="error-message" *ngIf="compteForm.get('compte').hasError(validation.type) && (compteForm.get('compte').dirty || compteForm.get('compte').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>
                <button class="btn btn-success" type="submit" [disabled]="!compteForm.valid"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="row" *ngIf="affiche">
        <div class="col-6">
            <div class="row">
                <h1>Informations Partenaire</h1>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <mat-form-field class="col-12">
                        <input matInput disabled placeholder="Raison Sociale" value="{{compteV.partenaire.raisonSociale}}">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="col-12">
                        <input matInput disabled placeholder="NINEA" value="{{compteV.partenaire.ninea}}">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <mat-form-field class="col-12">
                        <input matInput disabled placeholder="Telephone Siege" value="{{compteV.partenaire.telephoneSiege}}">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="col-12">
                        <input matInput disabled placeholder="Email Siege" value="{{compteV.partenaire.emailSiege}}">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <mat-form-field class="col-12">
                        <input matInput disabled placeholder="Adresse Siege" value="{{compteV.partenaire.adresseSociale}}">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="col-12">
                        <input matInput disabled placeholder="Solde Actuelle" value="{{ compteV.solde }} F CFA">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h1>Historique Versements</h1>
                </div>
                <div class="col-12">
                    <div class="container">
                        <div class="row bg-dark">
                            <div class="offset-9 col-3">
                                <mat-form-field>
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>


                            <!-- rs Column -->
                            <ng-container matColumnDef="montant">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
                                <td mat-cell *matCellDef="let row"> {{row.montant}} </td>
                            </ng-container>

                            <!-- ninea Column -->

                            <ng-container matColumnDef="dateVersement">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Versement </th>
                                <td mat-cell *matCellDef="let row"> {{row.dateVersement.timestamp | date:'dd-MM-yyyy'}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="depotForm" (ngSubmit)="versement(compteForm.value)">
                        <mat-form-field class="full-width">
                            <input matInput type="number" min="75000" placeholder="Montant à Verser" formControlName="montant" required>
                            <mat-error *ngFor="let validation of account_validation_messages.montant">
                                <mat-error class="error-message" *ngIf="depotForm.get('montant').hasError(validation.type) && (depotForm.get('montant').dirty || depotForm.get('montant').touched)">{{validation.message}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                        <button class="btn btn-success" type="submit" [disabled]="!depotForm.valid">Verser</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>