<app-header></app-header>
<div class="container pt-5">
    <div class="row">
        <h1>Effectuer Versement</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="container-fluid">
                <div class="row text-center">
                    <h2>Compte</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <form [formGroup]="compteForm" (ngSubmit)="rechercheCompte(compteForm.value)">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Numero de Compte" formControlName="compte" required>
                                <mat-error *ngFor="let validation of account_validation_messages.compte">
                                    <mat-error class="error-message" *ngIf="compteForm.get('compte').hasError(validation.type) && (compteForm.get('compte').dirty || compteForm.get('compte').touched)">{{validation.message}}</mat-error>
                                </mat-error>
                            </mat-form-field>
                            <button class="btn btn-success" type="submit" [disabled]="!compteForm.valid">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="row text-center" *ngIf="affiche">
                    <div class="row">
                        <div class="col-12">
                            <h2>Versement</h2>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-12">
                            <form [formGroup]="depotForm" (ngSubmit)="versement(compteForm.value)">
                                <mat-form-field class="full-width">
                                    <input matInput type="number" min="75000" placeholder="Montant à Verse" formControlName="montant" required>
                                    <mat-error *ngFor="let validation of account_validation_messages.montant">
                                        <mat-error class="error-message" *ngIf="depotForm.get('montant').hasError(validation.type) && (depotForm.get('montant').dirty || depotForm.get('montant').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                                <button class="btn btn-success" type="submit" [disabled]="!depotForm.valid">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6" *ngIf="affiche">
            <div class="container-fluid">
                <div class="row text-center text-primary">
                    <div class="col-12">
                        <h2>Partenaire</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table>
                            <tr>
                                <td>Raison Sociale : </td>
                                <td>{{ compteV.partenaire.raisonSociale }}</td>
                            </tr>
                            <tr>
                                <td>NINEA : </td>
                                <td>{{ compteV.partenaire.ninea }}</td>
                            </tr>
                            <tr>
                                <td>Adresse : </td>
                                <td>{{ compteV.partenaire.adresseSociale }}</td>
                            </tr>
                            <tr>
                                <td>Téléphone : </td>
                                <td>{{ compteV.partenaire.telephoneSiege }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center text-big text-primary">
                        Solde: {{ compteV.solde }} F CFA
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center text-primary">
                        <h3>Historique versements</h3>
                    </div>
                    <div class="col-12">
                        <table class="table table-stripped">
                            <tr>
                                <td>Date Versement</td>
                                <td>Montant Versé</td>
                            </tr>
                            <tr *ngFor="let versement of versements">
                                <td>{{ versement.dateVersement | date : 'yyyy-MM-dd' }}</td>
                                <td>{{ versement.montant }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>