/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    background-image: url("./assets/ta.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.fond {
    background-color: rgba(250, 246, 246, 0.9);
    border-radius: 20px;
}

.blanc {
    background-color: white;
}