<app-header></app-header>
<div class="alert alert-success" *ngIf="msg">
    {{ msg }}
</div>
<form [formGroup]="envoiForm">
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Envoi D' Argent</h1>
            </div>
        </div>
        <mat-horizontal-stepper>
            <div class="col-12 col-md-6 offset-md-3">
                <div class="container pt-5">
                    <mat-step label="Informations Envoyeur">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><mat-icon>business</mat-icon></span>
                                    <input matInput placeholder="Prenom" required formControlName="prenomEnv">
                                    <mat-error *ngFor="let validation of account_validation_messages.prenomEnv">
                                        <mat-error class="error-message" *ngIf="envoiForm.get('prenomEnv').hasError(validation.type) && (envoiForm.get('prenomEnv').dirty || envoiForm.get('prenomEnv').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><mat-icon>business</mat-icon></span>
                                    <input matInput placeholder="Nom" required formControlName="nomEnv">
                                    <mat-error *ngFor="let validation of account_validation_messages.nomEnv">
                                        <mat-error class="error-message" *ngIf="envoiForm.get('nomEnv').hasError(validation.type) && (envoiForm.get('nomEnv').dirty || envoiForm.get('nomEnv').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><i class="fas fa-map-marker-alt"></i></span>
                                    <input matInput placeholder="Adresse" required formControlName="adresseEnv">
                                    <mat-error *ngFor="let validation of account_validation_messages.adresse">
                                        <mat-error class="error-message" *ngIf="envoiForm.get('adresseEnv').hasError(validation.type) && (envoiForm.get('adresseEnv').dirty || envoiForm.get('adresseEnv').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><mat-icon>phone</mat-icon></span>
                                    <input matInput type="number" min="1000" max="3000000" placeholder="Montant à Envoyer" required formControlName="montant">
                                    <mat-error *ngFor="let validation of account_validation_messages.montant">
                                        <mat-error class="error-message" *ngIf="envoiForm.get('montant').hasError(validation.type) && (envoiForm.get('montant').dirty || envoiForm.get('montant').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <mat-form-field>
                                    <mat-label>Choisir un role</mat-label>
                                    <span matPrefix><i class="fas fa-user-tag"></i></span>
                                    <mat-select [(value)]="selected" formControlName="typePieceEnv">
                                        <mat-option value="cni">Carte Nationale D'identité</mat-option>
                                        <mat-option value="permis">Permis de Conduire</mat-option>
                                        <mat-option value="passport">Passport</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><mat-icon>business</mat-icon></span>
                                    <textarea matInput placeholder="Numéro D'identification" required formControlName="cniEnv"></textarea>
                                    <mat-error *ngFor="let validation of account_validation_messages.cni">
                                        <mat-error class="error-message" *ngIf="envoiForm.get('cniEnv').hasError(validation.type) && (envoiForm.get('cniEnv').dirty || envoiForm.get('cniEnv').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="text-right">
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step label="Informations Bénéficiaire">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><mat-icon>business</mat-icon></span>
                                    <input matInput placeholder="Prenom" required formControlName="prenomBenef">
                                    <mat-error *ngFor="let validation of account_validation_messages.prenomEnv">
                                        <mat-error class="error-message" *ngIf="envoiForm.get('prenomBenef').hasError(validation.type) && (envoiForm.get('prenomBenef').dirty || envoiForm.get('prenomBenef').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><mat-icon>business</mat-icon></span>
                                    <input matInput placeholder="Nom" required formControlName="nomBenef">
                                    <mat-error *ngFor="let validation of account_validation_messages.nomEnv">
                                        <mat-error class="error-message" *ngIf="envoiForm.get('nomBenef').hasError(validation.type) && (envoiForm.get('nomBenef').dirty || envoiForm.get('nomBenef').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <mat-form-field>
                                    <mat-label>Type de Piece</mat-label>
                                    <span matPrefix><i class="fas fa-user-tag"></i></span>
                                    <mat-select [(value)]="selected" formControlName="typePieceBenef">
                                        <mat-option value="cni">Carte Nationale D'identité</mat-option>
                                        <mat-option value="permis">Permis de Conduire</mat-option>
                                        <mat-option value="passport">Passport</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-form-field class="col-12" hideRequiredMarker>
                                    <span matPrefix><mat-icon>business</mat-icon></span>
                                    <textarea matInput placeholder="Numéro D'identification" required formControlName="cniBenef"></textarea>
                                    <mat-error *ngFor="let validation of account_validation_messages.cni">
                                        <mat-error class="error-message" *ngIf="envoiForm.get('cniBenef').hasError(validation.type) && (envoiForm.get('cniBenef').dirty || envoiForm.get('cniBenef').touched)">{{validation.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="text-right">
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <mat-step label="Validation">
                        <div class="text-center">
                            <button (click)="setEnvoi()" type="submit" class="btn btn-success" [disabled]="!envoiForm.valid">Ajouter Partenaire</button>
                        </div>
                    </mat-step>
                </div>
            </div>
        </mat-horizontal-stepper>
    </div>
</form>